[
    {
        "id": "1",
        "name": "Мониторы",
        "attributes": [
            {
                "name": "Диагональ экрана",
                "synonyms": [
                    "Размер экрана"
                ]
            },
            {
                "name": "Частота обновления экрана",
                "synonyms": []
            },
            {
                "name": "Яркость",
                "synonyms": []
            },
            {
                "name": "Время отклика",
                "synonyms": []
            },
            {
                "name": "Максимальное разрешение",
                "synonyms": []
            },
            {
                "name": "Глубина цвета",
                "synonyms": []
            },
            {
                "name": "Контрастность",
                "synonyms": []
            },
            {
                "name": "Веб-камера",
                "synonyms": []
            },
            {
                "name": "Плотность пикселей",
                "synonyms": []
            },
            {
                "name": "Поддержка HDR",
                "synonyms": []
            },
            {
                "name": "Подсветка",
                "synonyms": []
            },
            {
                "name": "Покрытие экрана",
                "synonyms": []
            },
            {
                "name": "Соотношение сторон",
                "synonyms": []
            },
            {
                "name": "Тип подсветки матрицы",
                "synonyms": []
            },
            {
                "name": "Углы обзора",
                "synonyms": []
            },
            {
                "name": "Технология защиты зрения",
                "synonyms": []
            }
        ]
    }
]
