[
    {
        "id": "1",
        "name": "Мониторы",
        "attributes": [
            {
                "name": "Модель"
            },
            {
                "name": "Диагональ экрана"
            },
            {
                "name": "Частота обновления экрана"
            },
            {
                "name": "Яркость"
            },
            {
                "name": "Время отклика"
            },
            {
                "name": "Максимальное разрешение"
            },
            {
                "name": "Глубина цвета"
            },
            {
                "name": "Контрастность"
            },
            {
                "name": "Веб-камера"
            },
            {
                "name": "Плотность пикселей"
            },
            {
                "name": "Поддержка HDR"
            },
            {
                "name": "Подсветка"
            },
            {
                "name": "Покрытие экрана"
            },
            {
                "name": "Соотношение сторон"
            },
            {
                "name": "Тип подсветки матрицы"
            },
            {
                "name": "Углы обзора"
            },
            {
                "name": "Технология защиты зрения"
            }
        ]
    }
]
